<div class="container-full">
    <div class="row mx-auto justify-content-center" style="margin-top: 100px;">
        <div class="col-11 col-sm-8 col-md-6 col-lg-6 col-xl-4 rounded-0 shadow-lg">
            <h3 class="text-center my-4">Tarjeta de Credito</h3>
            <form class="px-2">
                <div class="row">
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombres y Apellidos</label>
                        <div class="input-group">
                            <span class="input-group-text"><i class="fa fa-id-card"></i></span>
                            <input type="text" class="form-control" id="nombre"
                                placeholder="Ingrese su Nombres y Apellidos">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="tarjeta" class="form-label">Número de tarjeta de crédito</label>
                        <div class="input-group">
                            <span class="input-group-text"><i class="fa fa-credit-card"></i></span>
                            <input type="text" class="form-control" id="tarjeta" placeholder="9999-9999-9999-9999">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-6 mb-3">
                        <label for="fecha" class="form-label">Fecha vencimiento</label>
                        <div class="input-group">
                            <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                            <input type="text" class="form-control" id="fecha" placeholder="MM/AA">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 mb-3">
                        <label for="codigo" class="form-label">Codigo de seguridad</label>
                        <div class="input-group">
                            <span class="input-group-text"><i class="fa fa-credit-card-alt"></i></span>
                            <input type="password" class="form-control" id="codigo" placeholder="CVV" maxlength="3">
                        </div>
                    </div>
                    <div class="col-12 mb-3">
                        <button class="btn btn-primary w-100">Pagar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>