<button
  type="button"
  class="btn btn-primary float-end m-2"
  data-bs-toggle="modal"
  data-bs-target="#staticBackdrop"
>
  Agregar
</button>

<button
  type="button"
  class="btn btn-success float-end m-2"
  data-bs-toggle="modal"
  data-bs-target="#exampleModal"
>
  Mostrar tipoo de Inspeccion
</button>
<table class="table table-striped">
  <thead>
    <th>Id</th>
    <th>Tipo de Inspeccion</th>
    <th>Estado</th>
    <th>Comentario</th>
    <th>Opciones</th>
  </thead>
  <tbody>
    <td>1</td>
    <td>Verano</td>
    <td>Otto</td>
    <td>Me gustas</td>
    <td>Eliminar</td>
  </tbody>
</table>

<!-- Modal de Tipo Inspeccion -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Tipo de Inspeccion</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
    </div>
  </div>
</div>
<!-- Fin Modal-->

<!-- Modal de Registro -->
<div
  class="modal fade"
  id="staticBackdrop"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdroplLabel">
          Agregar Inspección
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
    </div>
  </div>
</div>
<!-- Fin Modal-->
